@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

body {
  font-family: "Itim", cursive;
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/025/887/original/back.jpg?1643433414);
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  text-align: center;
}

.container {
  border: 3px solid purple;
  border-radius: 20px;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}
