.btn {
  background: rgb(97, 62, 194);
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  font-weight: lighter;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  left: -15px;
}

form {
  font-family: "Roboto Mono", monospace;
  display: block;
  float: right;
  right: -55px;
}

.search-wrapper {
  margin: auto;
  text-align: center;
}
